.tp-application {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.tp-application .tp-loading {
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
}

.tp-application .tp-loading .tp-loading-message {
    font-weight: bold;
    margin-left: 1em;
}

.tp-application .tp-loading-error {
    align-self: center;
    justify-self: center;
    max-width: 50%;

    border: 1px solid var(--cc-color-danger);
    border-radius: var(--cc-border-radius-normal);
    padding: 1em;
    color: var(--cc-color-danger);
}
