.tp-product-flavor-details {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 0.1em;
    grid-column-gap: 0.3em;
}

.tp-product-flavor-details .tp-product-flavor-details-label {
    font-weight: bold;
}
.tp-product-flavor-details .tp-product-flavor-details-value {

}