.tp-product-flavor-details {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-right: 0.3em;
}

.tp-product-flavor-details .tp-product-flavor-details-tags {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.tp-product-flavor-details .tp-product-flavor-details-tags > div {
    margin: 0 0.6em 0.6em 0;
}
