:root {
  --cc-color-text-normal: #202b33;
  --cc-color-text-light: #5c7080;

  --cc-color-normal: #d8e1e8;
  --cc-color-primary: #26547c;
  --cc-color-primary-dark: #122739;
  --cc-color-success: #0f9960;
  --cc-color-success-dark: #005245;
  --cc-color-danger: #c23030;
  --cc-color-danger-dark: #9e2b0e;

  --cc-color-border-dark: #202b33;
  --cc-color-border: #8a9ba8;
  --cc-color-border-light: #d8e1e8;

  --cc-color-bg-white: #fff;
  --cc-color-bg-light: #d8e1e8;

  --cc-border-radius-large: 0.5em;
  --cc-border-radius-normal: 0.3em;
  --cc-border-radius-small: 0.2em;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  color: var(--cc-color-text-normal);
  font-size: 0.75vw;
}

*:focus {
  outline: 1px solid var(--cc-color-border-dark);
}